// normalize file
@use "./base/normalize";
@use "./helpers/animations";
@use "./base/base";
@use "./components/components";
@use "./helpers/container";

@use "./components/header";

@use "./components/landing";
@use "./components/articles";
@use "./components/gallary";
