@use "../base/vars" as *;

.main-header {
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid black;
  position: relative;
  transition: $main-transition;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main-color;
    transition: $main-transition;
  }
  &::before {
    left: -30px;
  }
  &::after {
    right: -30px;
  }

  &:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
    &::before {
      animation: left-move 0.5s forwards;
    }
    &::after {
      animation: right-move 0.5s forwards;
    }
  }
}

// spiks = the tringels that appers in the top of section
.spikes {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
      linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
  }
}
