@use "../helpers/placeholders";
@use "../base/vars" as *;
@use "../helpers/animations";
@use "../mixins/media-queries" as *;
@use "../mixins/mixins" as *;
.landing {
  position: relative;
  .container {
    @extend %flex-center;
    height: calc(100vh - 72px);
    padding-bottom: 120px;
    .text {
      h1 {
        font-size: 40px;
        margin: 0;
        letter-spacing: 0;
      }
      p {
        font-size: 23px;
        line-height: 1.7;
        color: #666;
        max-width: 500px;
        margin: 5px auto;

        @include md {
          margin: 10px auto;
        }
      }
      @include xs {
        text-align: center;
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .image {
      img {
        width: 600px;
        position: relative;
        animation: up-and-down 5s linear infinite;
      }
      @include sm {
        display: none;
      }
    }
  }
  .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: $main-transition;
    color: $main-color;
    i {
      animation: bouncing 1.5s infinite;
    }
  }
  &::before {
    content: "";
    @include overlay($section-background);
    z-index: -2;
    top: -40px;
    transform-origin: top left;
    transform: skewY(-185deg);
  }
}
