@keyframes bouncing {
  0%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes right-move {
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
  50% {
    right: 0;
    height: 12px;
    width: 12px;
  }
}

@keyframes left-move {
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
  50% {
    left: 0;
    height: 12px;
    width: 12px;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
